table {
  font-family: Helvetica;
  font-size: 15px;
  color: black;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}

thead {
  font-weight: bold;
  border-bottom: 1px solid black;
}

th, td {
  padding: 5px 10px;
  text-align: center;
}

tfoot {
  display: none;
}