@import "table.css";

thead {
  background-color: hsl(0, 100%, 60%);
}

tbody tr:nth-child(odd) {
  background-color: hsl(0, 100%, 75%);
}

tbody tr:nth-child(even) {
  background-color: hsl(0, 100%, 85%);
}

tfoot {
  background-color: hsl(0, 100%, 65%);
}