@import "basic.css";
@import "normalize.css";

thead {
  background-color: hsl(115, 100%, 60%);
}

tbody tr:nth-child(odd) {
  background-color: hsl(115, 100%, 75%);
}

tbody tr:nth-child(even) {
  background-color: hsl(115, 100%, 85%);
}

tfoot {
  background-color: hsl(115, 100%, 65%);
}