@import "normalize.css";
@import "basic.css";

thead {
  background-color: hsl(20, 40%, 50%);
}

tbody tr:nth-child(odd) {
  background-color: hsl(20, 40%, 65%);
}

tbody tr:nth-child(even) {
  background-color: hsl(20, 40%, 75%);
}

tfoot {
  background-color: hsl(20, 40%, 55%);
}