@import "table.css";

thead {
  background-color: hsl(0, 0%, 60%);
}

tbody tr:nth-child(odd) {
  background-color: hsl(0, 0%, 75%);
}

tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 85%);
}

tfoot {
  background-color: hsl(0, 0%, 65%);
}
