table {
  font-family: Helvetica;
  font-size: 15px;
  color: black;
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  background-color: hsl(0, 0%, 60%);
}

tfoot {
  height: 20px;
  background-color: hsl(0, 0%, 65%);
}

thead, tfoot {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 85%);
}

tbody tr:nth-child(odd) {
  background-color: hsl(0, 0%, 75%);
}

th, td {
  padding: 5px 10px;
  text-align: center;
}
