@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700");
@import "normalize.css";
@import "basic.css";

table {
    font-size: 15px;
    color: #222222;
    background-color: white;
}

thead, tfoot {
    font-family: "Arya";
    background-color: #a270ba;
}
